@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0px;
	padding: 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
@font-face {
    font-family: 'HelveticaNeueLT25UltLightRg';
    src: url('helvetica_lt_25_ultra_light-webfont.eot');
    src: url('helvetica_lt_25_ultra_light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('helvetica_lt_25_ultra_light-webfont.woff') format('woff'),
         url('helvetica_lt_25_ultra_light-webfont.ttf') format('truetype'),
         url('helvetica_lt_25_ultra_light-webfont.svg#HelveticaNeueLT25UltLightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLT65MediumRg';
    src: url('helvetica_lt_65_medium-webfont.eot');
    src: url('helvetica_lt_65_medium-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('helvetica_lt_65_medium-webfont.woff') format('woff'),
         url('helvetica_lt_65_medium-webfont.ttf') format('truetype'),
         url('helvetica_lt_65_medium-webfont.svg#HelveticaNeueLT65MediumRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.body {
	position: relative;
	z-index: 0;
	width: 960px;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
}
.float-l {
	float: left;
}
.float-r {
	float: right;
}
.clear-both {
	clear: both;
}
.no-mar {
	margin: 0px !important;
}
.brd-all {
	border: 1px solid #fff;
}
.brd-btm {
	border-bottom: 1px solid #303030;
	padding: 5px 0;
	margin-bottom: 10px;
}
.mar-top-10 {
	margin-top: 10px;
}
.txt-align-r {
	text-align: right;
}

/* Font CSS */
h1, h2 strong, h5, h7, .btn-resume, .group-about ul.follow-links li, form label span {
    font-family: 'HelveticaNeueLT65MediumRg';
}
h2, #btn-mywork, h4, .left-menu li a, h6, #btn-goback {
    font-family: 'HelveticaNeueLT25UltLightRg';
}
h1 {
	font-size: 40px;
	color: #dc143c;
}
h2 {
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
}
h2 strong {
	font-size: 43px;
	font-weight: normal;
}
h3 {
	font-size: 23px;
	color: #555;
	font-weight: normal;
	line-height: 30px;
	text-shadow: 0px 1px #000;
}
h4 {
	font-size: 23px;
	color: #fff;
	font-weight: normal;
}
h5 {
	font-size: 25px;
	color: #dc143c;
	font-weight: normal;
}
h6, h6 a {
	font-size: 15px;
	color: #fff;
	font-weight: normal;
}
h7 {
	font-size: 17px;
	color: #333;
	font-weight: normal;
}
h7 span {
	color: #dc143c;
}
p, p a {
	font-size: 15px;
	color: #6c6c6c;
	font-weight: normal;
	line-height: 18px;
}
p a {
	color: #dc143c;
}
p a:hover, .about-me p a:hover {
	color: #f72b54;
}
.about-me p a {
	color: #444;
}
.pfooter {
	font-size: 15px;
	color: #DC143C;
}
/* Main CSS */
body {
	background: url(../images/main-bg.png) left top repeat #222222;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #fff;
}
a {
	color: #000;
	text-decoration: none;
	position: relative;
	cursor:pointer;
}
a:hover {
	color: #dc143c;
}
a:focus {
	top: 0px;
}
a:active {	
	top: 1px;
}
#introduction, #recent-web, #recent-fb, #recent-iphone, #footer {
	clear:both;
	margin: 155px auto 0 auto;
}
#recent-web {
	padding-bottom: 140px;
}
#recent-fb {
	margin-top: 0px;
	padding-bottom: 140px;
}
#recent-iphone, #footer {
	margin-top: 0px;
}
#footer {
	width: 100%;
}

/* Fixed Header CSS */
header {
	height: 50px;
	background-color: #000;
	width: 100%;
	position: fixed;
	border-bottom: 3px solid #dc143c;
	z-index: 4;
	top: 0;
	left: 0;
}
nav ul.main-nav {
	list-style: none;
}
nav ul.main-nav li {
	float: left;
}
nav ul.main-nav li a {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 11px;
}
nav ul.main-nav li.home {
	margin-right: 10px;
}
nav ul.main-nav li.home a {
	background: url(../images/sprite.png) left -132px no-repeat;
	width: 25px;
	height: 25px;
	display: block;
	text-indent: -999999px;
}
nav ul.main-nav li.home a:hover, nav ul.main-nav li.home a.active {
	background-position: left -157px;
}
#AboutDivLink, #ContactDivLink {
	padding: 13px 10px 0;
	display: block !important;
	margin-top: 0px !important;
	height: 40px;
	text-align: center;
}
.TopLinkSelected {
	background-color: #ebebeb !important;
	color:#222222 !important;
}
ul.follow-links {
	list-style: none;
	margin-top: 13px;
}
ul.follow-links li {
	float: left;
	margin-left: 17px;
	font-size: 14px;
	text-transform: uppercase;
}
ul.follow-links li a {
	width: 17px;
	height: 22px;
	display: block;
	text-indent: -999999px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
}
ul.follow-links li.twitter {
	margin-left: 17px;
}
ul.follow-links li.youtube, nav ul.follow-links li.google {
	margin-left: 12px;
}
ul.follow-links li.google a {
	background-position: left 0px;
}
ul.follow-links li.google a:hover {
	background-position: left -22px;
}
ul.follow-links li.twitter a {
	background-position: left -44px;
}
ul.follow-links li.twitter a:hover {
	background-position: left -66px;
}
ul.follow-links li.youtube a {
	background-position: left -88px;
}
ul.follow-links li.youtube a:hover {
	background-position: left -110px;
}

/* Introduction CSS */
#btn-mywork {
	background: url(../images/btn-mywork.png) center 0px no-repeat;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	display: block;
	padding-top: 63px;
	width: 97px;
	cursor: pointer;
	margin: 110px auto 0 auto;
}
#btn-mywork:hover {
	background-position: center -90px;
}
#btn-goback {
	background: url(../images/btn-goback.png) center 0px no-repeat;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	display: block;
	padding-top: 63px;
	width: 97px;
	cursor: pointer;
	margin: 20px auto 0 auto;
}
#btn-goback:hover {
	background-position: center -90px;
}

/* Website CSS */
#recent-web {
	background: url(../images/web-bg.png) left top repeat;
	width: 100%;
}
.head {
	margin: 70px 0 60px 0;
	border-bottom: 1px solid #303030;
	border-top: 1px solid #303030;
	line-height: 40px;
	width: 100%;
}
.left-menu {
	list-style: none;
	width: 145px;
}
.left-menu li {
	margin-bottom: 10px;
}
.left-menu li a {
	color: #fff;
	font-size: 23px;
}
.left-menu li a:hover, .left-menu li a.active {
	color: #dc143c;
}
.web-detail-icon {
	list-style: none;
}
.web-detail-icon li {
	float: left;
	margin-left: 5px;
}
.web-detail-icon li a {
	background-image: url(../images/ico-works.png);
	width: 19px;
	height: 18px;
	display: block;
}
.web-detail-icon li a span {
	display: none;
	font-size: 12px;
	color: #fff;
	position: relative;
	top: 20px;
	left: -11px;
}
.web-detail-icon li a:hover span {
	display: inline;
}
.web-detail-icon li a.concept {
	background-position: left 0px;
}
.web-detail-icon li a.concept:hover {
	background-position: left -18px;
}
.web-detail-icon li a.design {
	background-position: left -36px;
}
.web-detail-icon li a.design:hover {
	background-position: left -54px;
}
.web-detail-icon li a.coding {
	background-position: left -72px;
}
.web-detail-icon li a.coding:hover {
	background-position: left -90px;
}
.port-switch {
	list-style: none;
}
.port-switch li {
	margin-bottom: 10px;
	*margin-bottom: 0px !important;
}
.port-switch li a {
	background: url(../images/sprite.png) -4px -182px no-repeat;
	width: 9px;
	height: 11px;
	display: block;
}
.port-switch li a:hover, .port-switch li a.active {
	background-position: -4px -193px;
}
.port-switch li a span {
	display: none;
	position: relative;
	width: 21px;
	height: 17px;
	border: 1px solid #292929;
	background-color: #000;
	left: -30px;
	top: -5px;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}
.port-switch li a span img {
	padding-bottom: 4px;
}
.port-switch li a:hover span {
	display: block;
}
.loadport {
	position: relative;
	top: 175px;
}

/* Facebook CSS */
#recent-fb {
	background: url(../images/fb-bg.png) left top repeat;
	width: 100%;
}

/* iPhone CSS */
#recent-iphone {
	background: url(../images/iphone-bg.png) left top repeat;
	width: 100%;
	height: 760px;
}

/* Web Slider CSS */
.web-gallery {
	width: 600px;
	margin: 0 60px;
	background: url(../images/web-gallery.png) center top no-repeat;
	min-height: 486px;
}
.web-slider, .web-slider .bx-window {
	width: 517px !important;
	height: 329px !important;
}
.web-slider {
	margin: 28px 0 144px 41px;
}
.web-slider .bx-prev, .web-slider .bx-next {
	background-image: url(../images/arrowslide.png);
	width: 31px;
	height: 144px;
	display: block;
	text-indent: -99999px;
	position: relative;
	top: -240px !important;
}
.web-slider .bx-prev {
	float: left;
	background-position: left 0px;
	left: -35px;
}
.web-slider .bx-prev:hover {
	background-position: left -144px;
}
.web-slider .bx-prev:focus {
	left: -35px;
}
.web-slider .bx-prev:active {
	left: -36px;
}
.web-slider .bx-next {
	float: right;
	background-position: left -288px;
	right: -35px;
}
.web-slider .bx-next:hover {
	float: right;
	background-position: left -432px;
}
.web-slider .bx-next:focus {
	right: -35px;
}
.web-slider .bx-next:active {
	right: -36px;
}

/* iPhone Slider CSS */
.iphone-gallery {
	width: 296px;
	margin: 0 215px;
	background: url(../images/iphone-gallery.png) center top no-repeat;
	min-height: 490px;
}
.iphone-slider, .iphone-slider .bx-window {
	width: 214px !important;
	height: 329px !important;
	margin: 88px 0 0 21px;
}
.iphone-slider .bx-prev, .iphone-slider .bx-next {
	background-image: url(../images/arrowslide.png);
	width: 31px;
	height: 144px;
	display: block;
	text-indent: -99999px;
	position: relative;
	top: -240px !important;
}
.iphone-slider .bx-prev {
	float: left;
	background-position: left 0px;
	left: -18px;
}
.iphone-slider .bx-prev:hover {
	background-position: left -144px;
}
.iphone-slider .bx-prev:focus {
	left: -18px;
}
.iphone-slider .bx-prev:active {
	left: -19px;
}
.iphone-slider .bx-next {
	float: right;
	background-position: left -288px;
	right: -59px;
}
.iphone-slider .bx-next:hover {
	float: right;
	background-position: left -432px;
}
.iphone-slider .bx-next:focus {
	right: -59px;
}
.iphone-slider .bx-next:active {
	right: -60px;
}
.iphone-gallery hgroup {
	position: relative;
	top: -50px;
}
.iphone-gallery .web-detail-icon {
	position: relative;
	top: -45px;
}

/* Footer CSS */
#footer {
	padding: 30px 0;
}

/* About CSS */
.about-me, .contact-me {
	background-color: #ebebeb;
	padding: 30px 0;
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 53px;
	-webkit-box-shadow: 0px 7px 5px #000; /* Safari and Chrome */
	box-shadow: 0px 7px 5px #000;
}
.showhide-about, .showhide-contact {
	display:none;
}
.group-about {
	width: 290px;
	margin-right: 45px;
}
.about-me p, .contact-me p {
	margin: 5px 0 20px 0;
}
.group-pleasure {
	width: 335px;
	margin-right: 45px;
}
.group-pic {
	width: 240px;
}
.btn-resume {
	background: url(../images/btn-download.png) left top no-repeat;
	width: 226px;
	height: 42px;
	display: block;
	text-decoration: none;
	font-size: 17px;
	font-weight: normal;
	padding-left: 10px;
	line-height: 42px;
	color: #fff;
}
.btn-resume:hover {
	background: url(../images/btn-download.png) left -42px no-repeat;
	color: #fff;
}


.group-form {
	width: 420px;
}
.group-about ul.follow-links li.follow {
	margin-left: 0px !important;
	color: #333;
	font-size: 14px;
	line-height: 23px;
}
.group-about ul.follow-links li.google {
	margin-left: 12px;
}
form {
	float: right;
}
form label {
	float: right;
}
form label span {
	color: #6c6c6c;
	font-size: 15px;
	margin-top: 8px;
	line-height: 37px;
}
form input {
	width: 280px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #e2e2e2;
	padding: 0 10px;
	margin-left: 10px;
	margin-bottom: 8px;
	float: right;
	font-size: 14px;
	color: #999;
}
form textarea {
	width: 280px;
	height: 120px;
	border: 1px solid #e2e2e2;
	padding: 6px 10px 0;
	margin-left: 10px;
	float: right;
	color: #999;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}
.btn-send {
	background: url(../images/btn-send.png) left top no-repeat;
	width: 106px;
	height: 42px;
	display: block;
	text-decoration: none;
	font-size: 17px;
	font-weight: normal;
	padding-left: 13px;
	line-height: 42px;
	color: #fff;
	border: 0px;
	text-align: left;
	cursor: pointer;
	margin: 10px 0 0 118px;
	float: left;
}
.btn-send:hover {
	background: url(../images/btn-send.png) left -42px no-repeat;
	color: #fff;
}
.InputError {
	border:1px solid #ffc0cd;
	background-color: #fff3f5;
}
.HidePage {
	top:332px; position:absolute; width:100%; min-height:400px;
}
